@use 'sass:math';

// Подключение шрифтов локально из папки "./src/fonts" =======================================================================================================================
@import 'config/fonts';


// Подключение переменных =======================================================================================================================
@import 'config/vars';

// Обнуление =======================================================================================================================
@import 'config/reset';

/* =======================================================================================================================
* Библиотеки
* раскомментировать для использования 
*/

// Подключение стилей отдельных блоков и секций =======================================================================================================================
@import 'layout/header';
@import 'layout/main';

body{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.container{
    max-width: 1290px;
    width: 100%;
    margin: 0 auto;
}
.btn{
    display: flex;
    padding: 10px 30px;
    border-radius: 10px;
    transition: all 1s;
    justify-content: center;
    align-items: center;
    line-height: normal;
    &:hover{
        transform: scale(1.1);
    }
}
@import 'layout/media';
